/*
http://forrst.com/posts/Simple_pure_CSS_wikitip_with_arrow-BkY

*/
 .wikitip{display:inline;position:relative}
 .wikitip:hover{text-decoration:none}
 .wikitip:hover:after{
   background:#111;
   background:rgba(0,0,0,.8);
   border-radius:5px;
   bottom:18px;
   color:#fff;
   content:attr(title);
   display:block;
   left:50%;
   padding:5px 15px;
   position:absolute;
   white-space:nowrap;
   z-index:98
  }
  
  .wikitip:hover:before{
    border:solid;
    border-color:#111 transparent;
    border-width:6px 6px 0 6px;
    bottom:12px;
    content:"";
    display:block;
    left:75%;
    position:absolute;
    z-index:99
   }